In [83]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [80]:
data = pd.read_csv("./data.csv")

In [9]:
data.head()

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               193 non-null    int8
 1   fuel-type          193 non-null    int8
 2   aspiration         193 non-null    int8
 3   num-of-doors       193 non-null    int8
 4   body-style         193 non-null    int8
 5   drive-wheels       193 non-null    int8
 6   engine-location    193 non-null    int8
 7   wheel-base         193 non-null    float64
 8   length             193 non-null    float64
 9   width              193 non-null    float64
 10  height             193 non-null    float64
 11  curb-weight        193 non-null    int64
 12  engine-type        193 non-null    int8
 13  num-of-cylinders   193 non-null    int8
 14  engine-size        193 non-null    int64
 15  fuel-system        193 non-null    int8
 16  bore               193 non-null    float64
 17  stroke             193 non-null    float64
 18  compression-ratio  193 non-null    float64
 19  horsepower         193 non-null    int64
 20  peak-rpm           193 non-null    int64
 21  city-mpg           193 non-null    int64
 22  highway-mpg        193 non-null    int64
 23  price              193 non-null    int64
dtypes: float64(7), int64(7), int8(10)
memory usage: 23.1 KB

In [30]:
t_list = data['fuel-type'].unique()

In [31]:
t_list

array([1, 0], dtype=int8)

In [44]:
cat_col = data.select_dtypes(['object']).columns

for i in cat_col:
    t_list = data[i].unique()
    counter = 0
    for j in t_list:
        data[i][data[i] == j] = counter
        counter = counter + 1 
    data[i] = data[i].astype('int')

c:\users\mahdi\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               193 non-null    int32
 1   fuel-type          193 non-null    int32
 2   aspiration         193 non-null    int32
 3   num-of-doors       193 non-null    int32
 4   body-style         193 non-null    int32
 5   drive-wheels       193 non-null    int32
 6   engine-location    193 non-null    int32
 7   wheel-base         193 non-null    float64
 8   length             193 non-null    float64
 9   width              193 non-null    float64
 10  height             193 non-null    float64
 11  curb-weight        193 non-null    int64
 12  engine-type        193 non-null    int32
 13  num-of-cylinders   193 non-null    int32
 14  engine-size        193 non-null    int64
 15  fuel-system        193 non-null    int32
 16  bore               193 non-null    float64
 17  stroke             193 non-null    float64
 18  compression-ratio  193 non-null    float64
 19  horsepower         193 non-null    int64
 20  peak-rpm           193 non-null    int64
 21  city-mpg           193 non-null    int64
 22  highway-mpg        193 non-null    int64
 23  price              193 non-null    int64
dtypes: float64(7), int32(10), int64(7)
memory usage: 28.8 KB

In [65]:
cat_col = data.select_dtypes(['object']).columns

In [66]:
for i in cat_col:
    data[i] = data[i].astype('category')
    data[i] = data[i].cat.codes

In [14]:
data.head()

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,1,0,1,0,2,0,88.6,168.8,64.1,...,130,4,3.47,2.68,9.0,111,5000,21,27,13495
1,0,1,0,1,0,2,0,88.6,168.8,64.1,...,130,4,3.47,2.68,9.0,111,5000,21,27,16500
2,0,1,0,1,2,2,0,94.5,171.2,65.5,...,152,4,2.68,3.47,9.0,154,5000,19,26,16500
3,1,1,0,0,3,1,0,99.8,176.6,66.2,...,109,4,3.19,3.40,10.0,102,5500,24,30,13950
4,1,1,0,0,3,0,0,99.4,176.6,66.4,...,136,4,3.19,3.40,8.0,115,5500,18,22,17450

In [51]:
data = pd.read_csv('data.csv')

le = LabelEncoder()
cat_cols = data.select_dtypes(include=['object']).columns
data[cat_cols] = data[cat_cols].apply(lambda col: le.fit_transform(col.astype(str)))

In [52]:
data.head()

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,1,0,1,0,2,0,88.6,168.8,64.1,...,130,4,3.47,2.68,9.0,111,5000,21,27,13495
1,0,1,0,1,0,2,0,88.6,168.8,64.1,...,130,4,3.47,2.68,9.0,111,5000,21,27,16500
2,0,1,0,1,2,2,0,94.5,171.2,65.5,...,152,4,2.68,3.47,9.0,154,5000,19,26,16500
3,1,1,0,0,3,1,0,99.8,176.6,66.2,...,109,4,3.19,3.40,10.0,102,5500,24,30,13950
4,1,1,0,0,3,0,0,99.4,176.6,66.4,...,136,4,3.19,3.40,8.0,115,5500,18,22,17450

In [62]:
y = data['price']
data.drop(["price"],axis = 1)
x = data

In [63]:
data.head()

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,1,0,1,0,2,0,88.6,168.8,64.1,...,130,4,3.47,2.68,9.0,111,5000,21,27,13495
1,0,1,0,1,0,2,0,88.6,168.8,64.1,...,130,4,3.47,2.68,9.0,111,5000,21,27,16500
2,0,1,0,1,2,2,0,94.5,171.2,65.5,...,152,4,2.68,3.47,9.0,154,5000,19,26,16500
3,1,1,0,0,3,1,0,99.8,176.6,66.2,...,109,4,3.19,3.40,10.0,102,5500,24,30,13950
4,1,1,0,0,3,0,0,99.4,176.6,66.4,...,136,4,3.19,3.40,8.0,115,5500,18,22,17450

In [73]:
cols = data.columns

In [74]:
y = data["price"]
x = data[cols[:-1]]

In [75]:
x

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,...,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,0,1,0,1,0,2,0,88.6,168.8,64.1,...,2,130,4,3.47,2.68,9.0,111,5000,21,27
1,0,1,0,1,0,2,0,88.6,168.8,64.1,...,2,130,4,3.47,2.68,9.0,111,5000,21,27
2,0,1,0,1,2,2,0,94.5,171.2,65.5,...,3,152,4,2.68,3.47,9.0,154,5000,19,26
3,1,1,0,0,3,1,0,99.8,176.6,66.2,...,2,109,4,3.19,3.40,10.0,102,5500,24,30
4,1,1,0,0,3,0,0,99.4,176.6,66.4,...,1,136,4,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,20,1,0,0,3,2,0,109.1,188.8,68.9,...,2,141,4,3.78,3.15,9.5,114,5400,23,28
189,20,1,1,0,3,2,0,109.1,188.8,68.8,...,2,141,4,3.78,3.15,8.7,160,5300,19,25
190,20,1,0,0,3,2,0,109.1,188.8,68.9,...,3,173,4,3.58,2.87,8.8,134,5500,18,23
191,20,0,1,0,3,2,0,109.1,188.8,68.9,...,3,145,2,3.01,3.40,23.0,106,4800,26,27
192,20,1,1,0,3,2,0,109.1,188.8,68.9,...,2,141,4,3.78,3.15,9.5,114,5400,19,25

In [77]:
x_train, x_test, y_train, y_test = train_test_split(x, y, shuffle=True ,test_size=0.2)

In [81]:
regressor=LinearRegression()  
res_train = regressor.fit(x_train,y_train)

In [84]:
y_predict = regressor.predict(x_test) 
r2_score(y_test,y_predict)

0.7105813543370142